/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 8, ../../../app/stylesheets/screen.scss */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, ../../../app/stylesheets/screen.scss */
body {
  font-family: 'lucida grande', lucida, tahoma, helvetica, arial, sans-serif;
  font-size: 13px;
}

/* line 19, ../../../app/stylesheets/screen.scss */
a, a:visited {
  color: #A60;
  text-decoration: none;
}

/* line 24, ../../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 28, ../../../app/stylesheets/screen.scss */
#wrapper {
  width: 500px;
  margin: 0 auto;
}

/* line 33, ../../../app/stylesheets/screen.scss */
#logo {
  margin: 50px auto 20px auto;
  width: 349px;
}

/** HELP ********/
/* line 40, ../../../app/stylesheets/screen.scss */
#helper {
  display: inline;
}

/* line 44, ../../../app/stylesheets/screen.scss */
#help {
  border: 2px solid #5C595A;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 400px;
  margin: 10px auto;
  clear: both;
}
/* line 52, ../../../app/stylesheets/screen.scss */
#help .small {
  font-size: 9px;
  margin: 3px;
}
/* line 57, ../../../app/stylesheets/screen.scss */
#help ul {
  padding: 5px;
  width: 300px;
  margin: 0 auto;
}
/* line 61, ../../../app/stylesheets/screen.scss */
#help ul li {
  margin: 10px;
}
/* line 66, ../../../app/stylesheets/screen.scss */
#help p {
  margin-left: 3px;
  margin-top: 5px;
}
/* line 71, ../../../app/stylesheets/screen.scss */
#help h2 {
  background: #5C595A;
  color: white;
  font-size: 18px;
  padding: 3px;
}

/** SEARCH FORM ********/
/* line 82, ../../../app/stylesheets/screen.scss */
#wrapper form {
  width: 400px;
  margin: 5px 0 10px 53px;
}

/* line 87, ../../../app/stylesheets/screen.scss */
#wrapper form .inputs {
  display: inline;
  margin-right: 2px;
}

/* line 93, ../../../app/stylesheets/screen.scss */
#wrapper form .buttons {
  display: inline;
}

/** PLAYER ************/
/* line 99, ../../../app/stylesheets/screen.scss */
#wrapper object {
  width: 400px;
  margin-left: 50px;
  padding: 2px;
}

/* line 105, ../../../app/stylesheets/screen.scss */
#credits {
  width: 400px;
  margin-left: 55px;
  padding: 2px;
  font-size: 10px;
  float: left;
}

/** ERROR ************/
/* line 115, ../../../app/stylesheets/screen.scss */
#error_msg {
  padding: 3px;
  background: #F7CDD2;
  color: #FA0C29;
  width: 392px;
  margin-left: 52px;
  margin-bottom: 3px;
  display: none;
  text-align: center;
}

/** PERMALINK ************/
/* line 129, ../../../app/stylesheets/screen.scss */
#share_options {
  margin-left: 51px;
  margin-bottom: 5px;
  margin-top: 3px;
  font-size: 10px;
}
/* line 135, ../../../app/stylesheets/screen.scss */
#share_options #embed_code input {
  margin-top: 5px;
  margin-left: 21px;
}
/* line 140, ../../../app/stylesheets/screen.scss */
#share_options input {
  margin-left: 6px;
}

/** ARTIST INFO ************/
/* line 148, ../../../app/stylesheets/screen.scss */
#artist_data {
  width: 400px;
  margin: 5px 46px 5px 0;
  float: right;
  clear: both;
}

/* line 155, ../../../app/stylesheets/screen.scss */
#artist_data .info {
  margin: 3px 3px 7px 3px;
  font-size: 10px;
}

/* line 160, ../../../app/stylesheets/screen.scss */
#artist_data .amazon_link {
  margin-top: 3px;
}

/* line 164, ../../../app/stylesheets/screen.scss */
#artist_data .info .name {
  font-size: 14px !important;
  margin-bottom: 4px;
}

/* line 169, ../../../app/stylesheets/screen.scss */
#artist_data .image {
  float: left;
  padding: 3px;
  padding-right: 10px;
}
