- semantic_form_for @artist, :url => { :action => "songs" } do |formtastic|
  - formtastic.inputs do
    = formtastic.input :name
  - formtastic.buttons do
    = formtastic.commit_button :button_html => {:value => "Go!"}
