- semantic_form_for :artist, :url => { :action => "search" } do |formtastic|
  - formtastic.inputs do
    = formtastic.input :name, :label => "Artist Name", :required => true
  - formtastic.buttons do
    = formtastic.commit_button :button_html => {:value => "Go!"}
