/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lucida grande', lucida, tahoma, helvetica, arial, sans-serif;
  font-size: 13px;
}

a, a:visited {
  color: #A60;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
}

#logo {
  margin: 50px auto 20px auto;
  width: 349px;
}

/** HELP ********/

#helper {
  display: inline;
}

#help {
  border: 2px solid #5C595A;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 400px;
  margin: 10px auto;
  clear: both;
  
  .small {
    font-size: 9px;
    margin: 3px;
  }
  
  ul {
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    li {
      margin: 10px;
    }
  }
  
  p {
    margin-left: 3px;
    margin-top: 5px;
  }
  
  h2 {
    background: #5C595A;
    color: white;
    font-size: 18px;
    padding: 3px;
  }
}


/** SEARCH FORM ********/

#wrapper form {
  width: 400px;
  margin: 5px 0 10px 53px;
}

#wrapper form .inputs {
  display: inline;
  margin-right: 2px;
}


#wrapper form .buttons {
  display: inline;
}

/** PLAYER ************/

#wrapper object {
  width: 400px;
  margin-left: 50px;
  padding: 2px;
}

#credits {
  width: 400px;
  margin-left: 55px;
  padding: 2px;
  font-size: 10px;
  float: left;
}


/** ERROR ************/
#error_msg {
  padding: 3px;
  background: #F7CDD2;
  color: #FA0C29;
  width: 392px;
  margin-left: 52px;
  margin-bottom: 3px;
  display: none;
  text-align: center;
}


/** PERMALINK ************/

#share_options {
  margin-left: 51px;
  margin-bottom: 5px;
  margin-top: 3px;
  font-size: 10px;
  
  #embed_code input {
    margin-top: 5px;
    margin-left: 21px;
  }
  
  input {
    margin-left: 6px;
  }
}


/** ARTIST INFO ************/

#artist_data {
  width: 400px;
  margin: 5px 46px 5px 0;
  float: right;
  clear: both;
}

#artist_data .info {
  margin: 3px 3px 7px 3px;
  font-size: 10px;
}

#artist_data .amazon_link {
  margin-top: 3px;
}

#artist_data .info .name {
  font-size: 14px !important;
  margin-bottom: 4px;
}

#artist_data .image {
  float: left;
  padding: 3px;
  padding-right: 10px;
}
