/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: 'lucida grande', lucida, tahoma, helvetica, arial, sans-serif;
  font-size: 13px;
}

a, a:visited {
  color: #A60;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
}

#logo {
  margin: 50px auto 20px auto;
  width: 349px;
}

/** SEARCH FORM ********/

#wrapper form {
  width: 400px;
  margin: 5px 0 10px 53px;
}

#wrapper form .inputs {
  display: inline;
  margin-right: 2px;
}


#wrapper form .buttons {
  display: inline;
}

/** PLAYER ************/

#wrapper object {
  width: 400px;
  margin-left: 50px;
  padding: 2px;
}

#credits {
  width: 400px;
  margin-left: 55px;
  padding: 2px;
  font-size: 10px;
  float: left;
}

/** ARTIST INFO ************/

#artist_data {
  width: 400px;
  margin: 5px 46px 5px 0;
  float: right;
}

#artist_data .info {
  margin: 3px 3px 7px 3px;
  font-size: 10px;
}

#artist_data .amazon_link {
  margin-top: 3px;
}

#artist_data .info .name {
  font-size: 14px !important;
  margin-bottom: 4px;
}

#artist_data .image {
  float: left;
  padding: 3px;
  padding-right: 10px;
}
