#help
  %h2
    Instant Playlist Generator
  %p
    Enter an artist name to get started
  %ul
    %li
      , - Include several artists
      %br
      .small (ex: The Decemberists, Eisley, Cloud Cult)
    %li
      = "! - Randomize playlist"
      %br
      .small (ex: The Decemberists !)
    %li
      ? - Include 3 similar artists
      %br
      .small (ex: The Decemberists ?)
  